<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687699391365-mbqqml5uvdm3bdjpbci2ur9eh2dl94qp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687699391365-mbqqml5uvdm3bdjpbci2ur9eh2dl94qp</string>
	<key>API_KEY</key>
	<string>AIzaSyBhb_XSeb7U6viMx3LU-Ftv9h63oJTUifs</string>
	<key>GCM_SENDER_ID</key>
	<string>687699391365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinasys.eCommerceFlutter</string>
	<key>PROJECT_ID</key>
	<string>ecomfaza1</string>
	<key>STORAGE_BUCKET</key>
	<string>ecomfaza1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687699391365:ios:2efe6be782733e0465caec</string>
</dict>
</plist>